<header class="header">
        <div class="container header_wrp">
            <h2 class="header_title">SNAPPY</h2>

             <div class="search-input-wrp">
                <i class="icon-search search-btn"></i>
                <input type="text" id="search-input" placeholder="Search..." />
             </div>

            <div class="switch_container">
                <input type="checkbox" id="switch">
                <label for="switch" class="switch-label">
                    <i class="switch-icons icon-sun"></i>
                    <i class="switch-icons icon-moon"></i>
                </label>
            </div>
            <div class="user-acc_wrp">
                <span id="user-greeting" style="margin-right: 10px; font-size: 0.9em;"></span>
            </div>
        </div>
    </header>